<div class="row">
  <div class="col-md-12">
    <ul>
      <% @posts.reverse.each do |post| %>
        <li>
          <p>
            <% if logged_in? %>
              <%= post.user.name + " " %>
            <% end %>
            <span><%= post.created_at %></span>
          </p>
          <p>
            <%= post.body %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
