@import "bootstrap-sprockets";
@import "bootstrap";


// Variables


$serif: Georgia, Times, "Times New Roman", serif;


// Body, Container & Typography


body {
  padding-top: 20px;
  background-color: #eee;
  font-size: 18px;
  color: #2e2e2e;
}

.container {
  max-width: 730px;
}

h3 {
  margin-left: 5px;
}


// Header


.header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-title {
  margin-top: 18px;
  margin-left: 8px;
  font-family: $serif;
  font-size: 1.7em;
  font-weight: 600;
  font-style: italic;
  color: #4c4c4c;
  text-shadow: 1px 1px #fff;
}

.header-link {
  margin-top: 15px;
}

.header-session-link {
  padding-right: 6px !important;
}


// Main


.page-title {
  margin-bottom: 20px;
}

form {
  font-size: 0.9em;
}

label {
  margin-top: 10px;
}

#error_explanation {
  color: #f00;
  ul {
    margin: 0 0 18px 0;
  }
}

.post {
  margin: 25px 20px 25px 20px;
  padding: 18px 18px 5px;
  background-color: #fff;
  font-family: $serif;
  border: 1px solid #ddd;
}

.post-body {
  font-size: 1.2em;
}

.post-user {
  font-size: 1.1em;
}

.post-id {
  padding-top: 104px;
  margin-top: -100px;
  font-family: Arial, sans-serif;
  font-size: 0.86em;
  color: #6c6b6b;
}

#session_remember_me {
  margin-left: 0;
}

label.checkbox > span {
  margin-left: 20px;
}


// Various


.debug_dump {
  margin-top: 50px;
  font-size: 1em;
}


// Bootstrap Specific


.alert {
  margin-top: 20px;
}

.btn-block {
  margin-top: 15px
}

.form-control {
  height: 45px;
  font-size: 16px;
}
