@import "bootstrap-sprockets";
@import "bootstrap";


/* Main */


body {
  padding-top: 20px;
}

.container {
  max-width: 730px;
}


/* Various */


.debug_dump {
  margin-top: 50px;
  font-size: 1em;
}


/* Bootstrap Specific */


.btn-block {
  margin-top: 15px
}
