<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">

      <% unless logged_in? %>
        <li role="presentation">
          <%= link_to "Sign up", signup_path, class: "header-link" %>
        </li>

        <li role="presentation">
          <%= link_to "Log in", login_path, class: "header-link" %>
        </li>
      <% else %>
        <li role="presentation">
          <%= link_to "New message", new_post_path, class: "header-link" %>
        </li>
        <li role="presentation">
          <%= link_to "Log out",
              logout_path,
              method: :delete,
              class: "header-link" %>
        </li>
      <% end %>

    </ul>
  </nav>
  <h3 class="header-title">Members Only!</h3>
</div>
