<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">

      <% unless logged_in? %>
        <li role="presentation">
          <%= link_to "Sign up", signup_path %>
        </li>

        <li role="presentation" class="active">
          <%= link_to "Log in", login_path %>
        </li>
      <% else %>
        <li role="presentation">
          <%= link_to "Log out", logout_path, method: :delete %>
        </li>
      <% end %>

    </ul>
  </nav>
  <h3 class="text-muted">Members Only!</h3>
</div>
